[alias]
	st = status
	ci = commit
	today = "!sh -c 'git log --reverse --no-merges --branches=* --date=local --since=midnight --oneline --author=\"`git config --get user.name`\"'"
	co = "!echo Error: Use git switch(sw) or git restore(rs) !!!!!"
	sw = switch
	rs = restore
	cob = checkout -b
	branch = branch --sort=authordate
	unstage = reset HEAD

	# for hub command
	prl = pr list
	prco = pr checkout
[user]
	name = xsota
	email = git@xsota.com
[core]
	editor = emacs -nw
	excludesfile = ~/.gitignore_global
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
