[alias]
	st = status
	ci = commit
	today = "!sh -c 'git log --reverse --no-merges --branches=* --date=local --since=midnight --oneline --author=\"`git config --get user.name`\"'"
	co = checkout
	branch = branch --sort=authordate

[user]
	name = xsota
	email = git@xsota.com
[core]
	editor = emacs -nw
	excludesfile = ~/.gitignore_global
[push]
	default = current
